# Python
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
*.egg-info/
dist/
build/

# Node
node_modules/
.next/
out/

# Env
.env
.env.local
.env.*.local

# OS
.DS_Store

# Storybook
storybook-static/
storybook.log
